<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <app-header></app-header>
    <div class="infoDiv">
        <h1>METODOLOGÍA R&G</h1>
        <p>La metodología R&G (Rápida & Global) es una forma de aprender a programar, que busca acabar con el aprendizaje de la programación a través de "prueba y error". El objetivo de esta metodología es afrontar los problemas de programación de una manera
            disciplinada, donde se tratará de entender el problema a resolver y a solucionarlo sin escribir código inmediatamente, ya que mediante esta metodología obtendremos el pseudo-código del problema, si lo hemos entendido y planteado correctamente.
            Para realizar la resolución del problema, antes de lanzarnos a programarlo, es necesario realizar los siguientes pasos:
        </p>
        <h3>Paso 1: Definir el problema</h3>
        <p>En primer lugar, es de vital importancia entender el problema en su totalidad, ya que como hemos dicho, no estamos programando mediante prueba y error, si no que lo importante es comprender el problema y en base a esto, avanzar.</p>
        <h3>Paso 2: Identificar las entradas y salidas</h3>
        <p>Acto seguido, tendremos que identificar las entradas y las salidas del programa, siendo las entradas los datos con los que en un principio trabajaremos (pero no necesariamente trabajaremos solo con estos datos) y las salidas los resultados de
            los problemas.</p>
        <h3>Paso 3: Diseño del diagrama</h3>
        <p>Cuando hayamos planteado el problema y como solucionarlo, definiendo así también sus entradas y salidas, podremos entonces realizar entonces un solución gráfica (un diagrama) que represente la solución de este problema. La creación de estos diagramas
            es uno de los pasos que facilita esta web, dando a disposición del usuario una herramienta para crear estas representaciones gráficas del problema. El diagrama consta de las entradas, el desarrollo (cuerpo del programa en el cual se realizan
            las funcionalidades del mismo) y las salidas.<br> Para poder realizar los diagramas, se utilizarán distintos tipos de nodos, que són los siguientes: </p>
        <ul>
            <li><strong>Actividades</strong>: Estos nodos se corresponden con el lenguaje, donde aparecerán en el pseudo-código final como comentarios de código</li>
            <li><strong>Sentencias</strong>: Las sentencias son nodos que se identifican con las sentencias en lenguaje de programación, dentro de estas se incluyen las sentencias de condición (como los if) y las sentencias de repetición (como el bucle for).</li>
            <li><strong>Funciones</strong>: Un nodo función tendrá obligatoriamente como nodo padre un nodo "Sentencia", ya que este nodo representa una función o método que utilizará esa sentencia. Este tipo de nodos siempre será el último nodo de una rama
                del diagrama, será un nodo hoja.</li>
        </ul>
        <h3>Paso 4: Generación del pseudo-código</h3>
        <p>El objetivo final de la creación del diagrama del paso anterior es obtener el pseudo-código que lo representa. En la herramienta creada en esta web, se dará ese pseudo-código del diagrama creado, que se irá actualizando cada vez que se añada un
            nodo a la representación gráfica, para así facilitar y hacer más fácil de entender el proceso de aplicación de la metodología.</p>
        <h3>Paso 5: ¡Hora de programar!</h3>
        <p>Una vez ya hemos obtenido el pseudo-código del problema, después de haberlo entendido y planteado, es hora de comenzar a programar y así poder realizar de manera optima y eficiente un buén código de programación que solucione el problema planteado.
        </p>
    </div>

</body>

</html>