<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <app-header></app-header>

    <div class="editor">
        <div id="DiagramDiv" style=" position:relative; width:57%; height:700px; background-color: #DAE4E4;">
        </div>
        <div id="codeLabelDiv"></div>
        <button class="changeType ml-2" type="button">Escribir código</button>
        <button class="changeType ml-4" type="button" (click)="storeDiagram()">guardar diagrama</button>
        <button class="changeType ml-4" type="button" (click)="loadDiagram()">cargar diagrama</button>

        <span style="display: inline-block; vertical-align: top;">
            <div id="inspectorDiv" class="inspector"> </div><br>
    </span>
    </div>
</body>

</html>