.editor {
    margin-left: 200px;
}

button {
    background-color: #4CAF50;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}

span {
    font-weight: bold;
}

input {
    border-radius: 8px;
}

#optionsDiv {
    margin-left: 13%;
}