<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RGMethodology</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <router-outlet></router-outlet>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAN4xOvIZPQF8-2A_1Af83vYD4txuyjHw0",
            authDomain: "rg-methodology.firebaseapp.com",
            databaseURL: "https://rg-methodology.firebaseio.com",
            projectId: "rg-methodology",
            storageBucket: "rg-methodology.appspot.com",
            messagingSenderId: "192787928991",
            appId: "1:192787928991:web:31ab3d107eba0a67734faa",
            measurementId: "G-2PWVPEX19C"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

</body>

</html>